<h1>
	<a href="/notebook" title="">Notebook</a>
	<span class="byline">&larr; <a href="/research/">Research and Blog</a></span>
	<span class="byline">&larr; <a href="/">Devin R. Berg</a></span>
</h1>
<ul class="nav">
  <li><a class="home" href="/">Home</a></li>
  <li><a class="cv" href="/cv">CV</a></li>
  <li><a class="publications" href="/publications">Publications</a></li>
  <li><a class="calendar" href="/calendar">Calendar</a></li>
  <li><a class="notebook" href="http://notebook.devinberg.com">Notebook</a></li>
  <li><a class="in-the-news" href="/in-the-news">In the news</a></li>
</ul>
